@inherits LayoutComponentBase

<h1>This is the layout with 2 columns</h1>

<main>
    <div style="display:flex; gap: 10px">
        <div>
            @Body
        </div>
        <div>
            <h1> ---Second Column</h1>
        </div>
    </div>
</main>

@code {

}
