@page "/"

<PageTitle>Blazor Layout</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div><NavLink href="layout-for-folder-1">Layout for folder 1</NavLink></div>
<div><NavLink href="layout-for-folder-2">Layout for folder 2</NavLink></div>
<div><NavLink href="layout-for-folder-3">Layout for folder 3 (sub folder)</NavLink></div>
<div><NavLink href="layout-directive">@@layout directive</NavLink></div>
<div><NavLink href="layout-view">Layout component</NavLink></div>
<div><NavLink href="nested-layout">Nested Layout</NavLink></div>