@page "/layout-view"
@using BlazorLayoutExample.Layouts;

<LayoutView Layout="typeof(OneColumnLayout)">
    <h1>Content</h1>
</LayoutView>
<LayoutView Layout="typeof(TwoColumnsLayout)">
    <h1>Content</h1>
</LayoutView>

@code {

}
