@inherits LayoutComponentBase

<PageTitle>BlazorLayoutExample</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://blazorschool.com/tutorial/blazor-server/dotnet7/website-layout-666142" target="_blank">Tutorial</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
